@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
    background-image:url('@Url.Content("~/images/Onlineshopping.jpg")');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
h1{color:white;}
</style>


<div class="text-center">
    <h1  style="margin-top:200px;margin-right:800px;font-size:70px ">Welcome</h1>
</div>
