@{
    Layout = "_AdminLayout";
}

<style>
    body {
    background-image:url('@Url.Content("~/images/products-heading.jpg")');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
h1{color:white;}
</style>


<div class="text-center">
    <h1 class="display-4" style="margin-top:200px">Welcome</h1>
</div>
